.container {
    
    margin: 0 auto;
    background-color: #141414;
    color: white;
  }
  
  .movie-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 0.1em;
    padding-bottom: 20px;
  }
  
  .movie {
    
    padding: 10px;
    text-align: center;
    cursor: pointer;
  }
  
  .movie img {
    max-width: 100%;
    height: auto;
  }
  