.container {
    padding-bottom: 20px;
    margin: 0 auto;
    background-image:linear-gradient(rgba(121, 18, 18, 0.6), rgba(0, 0, 0, 2)),url(./../images/RT_300EssentialMovies_700X250.jpg);
    color: white;
  }
  
  .movie-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 0.1em;
    padding-bottom: 20px;
  }
  
  .movie {
    
    padding: 10px;
    text-align: center;
    cursor: pointer;
  }
  
  .movie img {
    max-width: 100%;
    height: auto;
  }
  